/* Font */
@import url(//db.onlinewebfonts.com/c/de2667f342f093d9526e2b71283629b2?family=Hobo+Std);

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: hobo-std, sans-serif;
    font-weight: 600;
    color: #031990;
}
body{
    background: #a1a29d85;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,25,144,0.8) 15%, rgba(145,189,241,0.6) 50%, rgba(3,25,144,0.8) 85%, rgba(2,0,36,1) 100%); */
}    
main{
    margin-bottom: 200px;
}
/* Name Section */
.container-header{
    background: url(Pelicans.JPG) no-repeat center center;
    background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 2.5em;
    text-align: center;
    padding: 80px 30px 200px 30px;
}
.container-header h3{
    color: #98e3ff;
}
/* Section containers */
.container{
    margin:auto;
    width:80%;
}
.content{
    margin: 30px;
    border-radius: 5px;
    background-color: #c3e4f7;
}
.content-heading{
    text-align: center;
    font-size: 3em;
    width: 100%;
    margin-top: 25px;
}
/* About me Section */
.about-content{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.about-txt{
    padding-right: 20px;
}
.about-img img{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
/* Skills Section */
.skill-txt{
    display: flex;
    justify-content: space-evenly;
}
.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.column h2{
    text-align: center;
    white-space: nowrap;
}
li{
    list-style-position: inside;
    padding: 0px 15px;
}
ul{
    width:70%;
}
.clr{
    clear: both;
}
/* Experience Section */
.exp-content{
    margin: 10px;
    padding: 10px;
}
/* Project Section */
.prj-content{
    margin: 10px;
    padding: 10px;
}

/* For smaller screen */
@media only screen and (max-width: 768px)