/* Font */
@import url(//db.onlinewebfonts.com/c/de2667f342f093d9526e2b71283629b2?family=Hobo+Std);

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: hobo-std, sans-serif;
    font-weight: 600;
    color: #444482;
}
body{
    background: url(Pelicans.JPG) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;
}
main{
    margin-bottom: 200px;
}
.container-header{
    width: 100%;
    margin: auto;
    font-size: 3em;
    text-align: center;
    padding: 90px 30px 30px 30px;
}
.container{
    margin:auto;
    width:80%;
    display: flex;
    justify-content: space-around;
}
.container-about{
    margin: 30px;
    border: 3px inset #5e6c7580;
    border-radius: 5px;
    background-color: #dcded585;
}
.content-heading{
    text-align: center;
    font-size: 3em;
    width: 100%;
    margin-top: 25px;
}
.about-content{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.about-txt{
    padding-right: 20px;
}
/* p{
    font-size: 1em;
} */
.about-img img{
    display: flex;
    justify-content: space-around;
    width: 250px;
}
.column{
    display: flex;
    flex-flow: column;
}
.clr{
    clear: both;
}
.container{
    margin:auto;
    width:80%;
}
.content{
    margin: 30px;
    border: 4px inset #5e6c7580;
    border-radius: 10px;
    background-color: #dcded585;
}
.exp-content{
    margin: 10px;
    padding: 10px;
}
.content{
    margin: 30px;
    border: 4px inset #5e6c7580;
    border-radius: 10px;
    background-color: #dcded585;
}
.prj-content{
    margin: 10px;
    padding: 10px;
}

/* For smaller screen */
@media only screen and (max-width: 768px)